<!-- Purpose: <%= Purpose.public_facing_page %> -->

<div class="ui main center aligned text container">
  <%= error_flash(@conn) %>
  <h1 class="ui header">Animal Reservation System</h1>
  <p>There is explanatory text here.</p>

  <%= centered_image "/images/dawn-penlight.png" %> 
</div>
