<%= form_for @changeset, @path, fn f -> %>
  <%= label f, :new_password, "New Password" %>
  <%= text_input f, :new_password %>
  <%= error_tag f, :new_password %>

  <%= label f, :new_password_confirmation %>
  <%= text_input f, :new_password_confirmation %>
  <%= error_tag f, :new_password_confirmation %>

  <div>
    <%= submit "Login" %>
  </div>
<% end %>

