<%= form_for @conn, @url, fn f -> %>
  <%= label f, :auth_id, "Login Id" %>
  <%= text_input f, :auth_id %>

  <%= label f, :password %>
  <%= text_input f, :password %>

  <div>
    <%= submit "Login" %>
  </div>
<% end %>

