<!-- Purpose: <%= Purpose.create_a_password_without_needing_an_existing_one %> -->

<%= start_centered_form() %>

<%= form_for @changeset, @path, [class: "box"], fn f -> %>
  <%= note_existence_of_any_form_errors @changeset %>

  <%= labeled_text_field f, :new_password, "New Password", type: "password" %>
  <%= labeled_text_field f, :new_password_confirmation, "Retype the password",
      type: "password" %>
  <%= form_button "Login" %>
<% end %>

<%= end_centered_form() %>
