<!-- Purpose: <%= Purpose.create_a_password_without_needing_an_existing_one %> -->

<%= form_for @changeset, @path, fn f -> %>
  <%= label f, :new_password, "New Password" %>
  <%= password_input f, :new_password %>
  <%= error_tag f, :new_password %>

  <%= label f, :new_password_confirmation %>
  <%= password_input f, :new_password_confirmation %>
  <%= error_tag f, :new_password_confirmation %>

  <div>
    <%= submit "Login" %>
  </div>
<% end %>

