<%= start_page(@conn) %>


<%= header(
    right: [
      link_as_header_button("Log out", SessionController, :logout, method: "delete")
    ]) %>

<%= render @view_module, @view_template, assigns %>

    
<%= end_page(@conn) %>
