<%= start_page(@conn) %>

<%= header(
    right: [
      link_as_header_button("Log in", SessionController, :get_login_form)
    ]) %>


<%= render @view_module, @view_template, assigns %>

    
<%= end_page(@conn) %>
