<!-- Purpose: <%= Purpose.snippet_to_display_animal %> -->

  <td>
    <strong><%= @animal.name %></strong> 
  </td>

  <td>
    <%= @animal.species_name %>
  </td>
  
  <td>
    <button class="ui button" data-action="single-animal#form">
      Edit
    </button>
  </td>
