<!-- Purpose: <%= Purpose.snippet_to_display_animal %> -->

<div class="columns">
  <div class="column is-three-quarters">
    <strong><%= @changeset.data.name %></strong> (<%= @changeset.data.species_name %>) (id: <%= @changeset.data.id %>)
  </div>
  <div class="column">
    <button class="button is-success is-small is-pulled-right" data-action="single-animal#form"
            >
      Edit
    </button>
  </div>
</div>
