<!-- Purpose: <%= Purpose.displaying_animal_summaries %> -->


<div data-controller="single-animal">
</div>

<table class="table">
  <tbody>

    
<%= for animal <- @animals do %>
    <tr>
      <td>
        <%= render "edit_animal_form.html",
            assigns 
            |> Map.put(:action, Routes.usables_animal_path(@conn, :update, animal))
            |> Map.put(:changeset, AnimalApi.edit_changeset(animal))

        %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

