<!-- Purpose: <%= Purpose.show_an_animal_in_isolation %> -->


<h1>Show Animal</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @animal.name %>
  </li>

  <li>
    <strong>Species:</strong>
    <%= @animal.species_name %>
  </li>
</ul>
