<div>
  <hr/>

  <div class="ui medium header">
    For <%= @reservation.responsible_person %>,
    <%= @reservation.timeslot_name %>,
    <%= @reservation.date %>
  </div>

  <div class="ui two column celled grid container">
    <div class="row">
      <div class="left aligned column">
        <%= unordered(@reservation.animal_names) %>
      </div>
      <div class="left aligned column">
        <%= unordered(@reservation.procedure_names) %>
      </div>
    </div>
  </div>
</div>
