<!-- Purpose: <%= Purpose.list_active_users %> -->


<span><%= link "Create a User", to: Routes.user_management_user_path(@conn, :new) %></span>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Login id</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <%= for user <- @users do %>
        <tr>
          <td><%= user.display_name %></td>
          <td><%= user.auth_id %></td>
          <td><%= user.email %></td>
        </tr>
   <% end %>
  </tbody>
</table>

